* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 2rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

.cart-heading {
  display: flex;
  justify-content: space-between;
}

.td_img {
  width: 45px;
  height: 35px;
}

.table {
  text-align: center;
}

.cart {
  background-color: lightblue;
  padding: 1rem;
}
